
/***** Custom select *****/

.select2-container .select2-choice {
	height: 62px;
	padding-left: 7px;
	line-height: 62px;
	background: #fff;
	filter: none;
	border: 0;
	-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	color: #9ea0a6;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	background: #fff;
	filter: none;
	border: 0;
}

.select2-drop {
	-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
}

.select2-drop.select2-drop-above {
	-moz-box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
}

.select2-drop.select2-drop-above.select2-drop-active { padding: 7px 0 0 0; border: 0; }

.select2-container .select2-choice > .select2-chosen { margin-right: 70px; }

.select2-container .select2-choice .select2-arrow {
	width: 62px;
	background: #9ccbc0;
	filter: none;
	border: 0;
}


.select2-dropdown-open .select2-choice .select2-arrow { border-radius: 0 4px 0 0; }
.select2-dropdown-open.select2-drop-above .select2-choice .select2-arrow { border-radius: 0 0 4px 0; }

.select2-results {
	max-height: 230px;
	margin: 0 66px 0 0;
	padding: 0;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	text-align: left;
}

.select2-results .select2-highlighted { background: #fff; color: #9ccbc0; }
